#content {
  h2 {
    padding-top: 200px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    position: relative;
    display: block;
    @include sm-block() {
      padding-top: 120px;
      font-size: 20px;
      text-align: center;
    }
    @include xs(text-align, center);
    &.lines {
      &:before {
        content: '';
        width: 100px;
        height: 1px;
        background: #c7cacc;
        position: absolute;
        bottom: 32px;
        left: -32px;
        @include sm(left, -15px);
        @include xs(bottom, 80px);
      }
      &:after {
        content: '';
        width: 60px;
        height: 1px;
        background: #c7cacc;
        position: absolute;
        bottom: -14px;
        left: 45%;
      }
    }
  }
  .blocks-city {
    margin-top: 65px;
    @include sm-block() {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .one-block-city {
      margin-top: 20px;
      max-width: 360px;
      background: #fff;
      border-bottom: 2px solid $orange;
      box-shadow: 0 0 40px -31px rgba(0, 0, 0, 0.62);
      @include sm(max-width, 320px);
      @include xs(max-width, 360px);
      &:nth-child(2) {
        margin: 20px 10px 0;
        @include sm(margin, 20px 0 0)
      }
      > img {
        width: 100%;
        max-width: 360px;
      }
      .description {
        padding: 0 30px 38px 30px;
        .title-city {
          margin-top: 30px;
          font-size: 24px;
        }
        p {
          font-size: 16px;
          margin-top: 40px;
          color: $grey-font-two;
          line-height: 24px;
        }
      }
    }
  }
  .wrap-slider-place {
    margin-top: 100px;
    .bx-wrapper .bx-pager.bx-default-pager a {
      text-indent: 0;
      margin: 0 10px;
      font-size: 14px;
      width: inherit;
      height: inherit;
      position: relative;
      &:before {
        content: '0';
        position: absolute;
        left: -8px;
        font-size: 14px;
      }
    }
    .bx-controls {
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: 240px;
      @include sm(bottom, 166px)
    }
    .bx-viewport {
      padding-bottom: 235px;
    }
    .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
      left: calc(100% - 474px);
      height: 30px;
      @include sm-block() {
        left: 44px;
      }
      @include xs(left, 20px);
    }
    .bx-controls-direction {
      position: relative;
      &:before {
        content: '';
        height: 30px;
        width: 1px;
        background: #d8dadc;
        position: absolute;
        right: 182px;
        @include sm-block() {
          right: 75px;
        }
        @include xs(right, 48px);
      }
    }
    .bx-wrapper .bx-controls-direction a {
      left: inherit;
      top: inherit;
      filter: brightness(0.5);
      &.bx-prev {
        margin-top: 8px;
        right: 200px;
        width: 16px;
        height: 10px;
        background: url(../images/icon/arrow-prev.png) no-repeat;
        @include sm(right, 88px);
        @include xs(right, 60px);
      }
      &.bx-next {
        margin-top: 8px;
        width: 16px;
        height: 10px;
        background: url(../images/icon/arrow-next.png) no-repeat;
        right: 150px;
        @include sm(right, 44px);
        @include xs(right, 20px);
      }
      &.disabled {
        filter: brightness(1);
        display: block;
      }
    }
    .bx-pager-link {
      color: $grey-font-two;
      position: relative;
      &.active {
        color: $grey-font;
        &:after {
          content: '';
          width: 1px;
          height: 20px;
          background: $orange;
          position: absolute;
          right: -6px;
          top: -7px;
        }
      }
    }
    .bx-wrapper .bx-caption {
      max-width: 424px;
      box-sizing: border-box;
      border-top: 69px solid #f8f9fb;
      width: 100%;
      height: 186px;
      background: #fff;
      right: 96px;
      left: inherit;
      bottom: -116px;
      display: flex;
      align-items: flex-end;
      box-shadow: 0 0 40px -31px rgba(0, 0, 0, 0.62);
      @include sm-block() {
        height: 170px;
        bottom: -170px;
        border-top: inherit;
        right: 0;
        max-width: 100%;
      }
      span {
        padding: 38px 44px;
        font-size: 16px;
        color: $grey-font;
        line-height: 24px;
        @include xs(padding, 25px 20px)
      }
    }
  }
  .larnaca {
    margin-top: -170px;
    align-items: flex-start;
    @include md(margin-top, - 50px);
    @include sm-block() {
      flex-direction: column;
      align-items: center;
    }
    @include xs(margin-top, 0);
    .wrap-slider-larnaca {
      position: relative;
      padding-bottom: 40px;
      @include sm(margin-top, 15px);
      &:before {
        content: '';
        width: 425px;
        height: 70px;
        background: #fff;
        position: absolute;
        bottom: 68px;
        left: calc((100% - 425px) / 2);
        z-index: 9;
        box-shadow: 0 0 40px -25px rgba(0, 0, 0, 0.62);
        @include lg-block() {
          width: 360px;
          left: calc((100% - 360px) / 2);
        }
        @include xs-block() {
          width: 300px;
          left: 0;
        }
      }
      &:after {
        content: 'Ларнака';
        font-size: 24px;
        color: $orange;
        position: absolute;
        bottom: 91px;
        left: 80px;
        z-index: 10;
        @include xs(left, 20px);
        @include sm(font-size, 20px);
      }
      .bx-wrapper {
        position: relative;
        &:before {
          content: '';
          height: 30px;
          width: 1px;
          background: #d8dadc;
          position: absolute;
          bottom: -14px;
          right: 106px;
          z-index: 10;
          @include xs(right, 46px)
        }
        .bx-controls-direction a {
          bottom: -4px;
          left: inherit;
          top: inherit;
          filter: brightness(0.5);
          &.bx-prev {
            right: 120px;
            width: 16px;
            height: 10px;
            background: url(../images/icon/arrow-prev.png) no-repeat;
            @include xs(right, 60px)
          }
          &.bx-next {
            width: 16px;
            height: 10px;
            background: url(../images/icon/arrow-next.png) no-repeat;
            right: 80px;
            @include xs(right, 20px)
          }
          &.disabled {
            filter: brightness(1);
            display: block;
          }
        }
      }
      .bx-viewport {
        width: 521px !important;
        @include lg(width, 400px !important);
        @include xs(width, 300px !important);
      }
      .slide {
        max-width: 521px;
        width: 100% !important;
      }
    }
    .description {
      padding: 0 130px;
      @include lg(padding, 0 50px);
      @include md(padding, 0 15px 0 50px);
      @include sm-block() {
        padding: 0;
        order: -1;
      }
      h2 {
        margin-bottom: 72px;
        @include md(padding-top, 60px);
        @include xs(padding-top, 15px);
        &:before {
          bottom: 60px;
        }
      }
      p {
        font-size: 24px;
        line-height: 36px;
        @include md(font-size, 20px);
        @include sm(font-size, 18px);
        @include xs(font-size, 16px);
      }
    }
  }
  .opportunities {
    margin-top: 80px;
    @include sm(margin-top, 0);
    p {
      text-align: center;
      font-weight: 300;
      font-size: 16px;
    }
    h2 {
      font-weight: normal;
      text-transform: none;
      text-align: center;
      padding-top: 45px;
      font-size: 36px;
      letter-spacing: normal;
      @include md(font-size, 32px);
      @include sm(font-size, 28px);
      @include xs(font-size, 24px);
    }
    .wrap-slider-opportunities {
      margin: 0 auto;
      padding-top: 136px;
      width: 100%;
      max-width: 100%;
      @include fix(max-width, 945px);
      .slider-opportunities {
        margin: 0 9.5%;
        transition: transform .3s;
        @include fix(margin, 0);
        .slide {
          max-width: 925px !important;
          transition: transform .4s;
          @include fix(transition, none);
          img {
            width: 100%;
            height: auto;
          }
          &[aria-hidden="false"] {
            z-index: 9;
          }
        }
        .slide[aria-hidden="true"] {
          transform: scale(.8) translateX(-90%);
          display: block !important;
          @include fix(transform, none !important);
        }
        .slide[aria-hidden="true"] + .slide[aria-hidden="true"] {
          transform: scale(.8) translateX(90%);
        }
        .slide[aria-hidden="false"] + .slide[aria-hidden="true"] {
          transform: scale(.8) translateX(90%);
        }
        .slide.second[aria-hidden="true"] + .slide.third[aria-hidden="true"] {
          transform: scale(.8) translateX(-90%);
        }
      }
      .bx-wrapper .bx-pager.bx-default-pager a {
        text-indent: 0;
        margin: 0 10px;
        font-size: 14px;
        width: inherit;
        height: inherit;
        position: relative;
        &:before {
          content: '0';
          position: absolute;
          left: -8px;
          font-size: 14px;
        }
      }
      .bx-controls-direction {
        position: relative;
        &:before {
          content: '';
          width: 97px;
          height: 1px;
          background: $grey-line;
          position: absolute;
          top: 6px;
          left: 90px;
          @include xs(display, none);
        }
        &:after {
          content: '';
          width: 97px;
          height: 1px;
          background: $grey-line;
          position: absolute;
          top: 6px;
          right: 100px;
          @include xs(display, none);
        }
      }
      .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
        top: -85px;
        display: inline-block;
        padding-top: 0;
        height: 45px;
        left: calc((100% - 83px) / 2);
      }
      .bx-controls {
        max-width: 945px;
        width: 100%;
        margin: 0 auto;
      }
      .bx-controls-direction {
        height: 45px;
        position: absolute;
        top: -80px;
        width: 100%;
        max-width: 945px;
      }
      .bx-wrapper .bx-controls-direction a {
        left: inherit;
        width: auto;
        text-indent: 0;
        color: $grey-font;
        font-size: 14px;
        transition: all .3s;
        &:hover {
          color: $orange;
        }
        &.bx-prev {
          padding-left: 26px;
          background: url(../images/icon/arrow-prev-dark.png) no-repeat left 50%;
          &:hover {
            background: url(../images/icon/arrow-prev-active.png) no-repeat left 50%
          }
        }
        &.bx-next {
          background: url(../images/icon/arrow-next-dark.png) no-repeat right 50%;
          right: 16px;
          padding-right: 26px;
          &:hover {
            background: url(../images/icon/arrow-next-active.png) no-repeat right 50%
          }
        }
      }
      .bx-pager-link {
        color: $grey-font-two;
        position: relative;
        &.active {
          color: $grey-font;
          &:after {
            content: '';
            width: 1px;
            height: 20px;
            background: $orange;
            position: absolute;
            right: -6px;
            top: -7px;
          }
        }
      }
    }
    .description {
      font-size: 16px;
      max-width: 815px;
      margin: 0 auto;
      line-height: 24px;
    }
  }
  .information {
    padding-top: 366px;
    margin-top: -360px;
    h2 {
      padding-top: 144px;
      letter-spacing: normal;
      text-transform: inherit;
      font-size: 36px;
      font-weight: 700;
      @include lg(font-size, 34px);
      @include md-block() {
        font-size: 30px;
        text-align: center;
      }
      @include sm-block() {
        font-size: 26px;
        padding-top: 80px;
      }
      @include xs(font-size, 22px);
    }
    .offset-top {
      margin-top: 50px !important;
    }
    .offset-top-md {
      @include md(margin-top, 50px)
    }
    .information-block {
      padding-bottom: 115px;
      @include sm(padding-bottom, 50px);
      .row {
        @include md-block() {
          flex-direction: column;
        }
      }
      img {
        width: 100%;
        max-width: 525px;
        margin: 0 auto;
        height: auto;
        box-shadow: 0 0 45px -30px rgba(0, 0, 0, 0.62);
      }
      .col {
        width: 100%;
        max-width: 525px;
        margin-top: 50px;
        @include md(max-width, 100%);
        &:nth-child(even) {
          margin-left: 15px;
          @include md(margin-left, 0)
        }
      }
      .bd-left {
        padding: 0 25px 0 40px;
        border-left: 1px solid $orange;
        @include xs(padding, 0 0 0 20px);
        &.order-reverse {
          @include md(order, 1)
        }
      }
      p {
        font-size: 18px;
        line-height: 28px;
        @include md(font-size, 16px);
      }
      .subtitle {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        max-width: 905px;
        padding-bottom: 35px;
        margin: 152px auto 0;
        position: relative;
        @include sm-block() {
          font-size: 22px;
          margin: 75px auto 0;
        }
        @include xs(font-size, 20px);
        &:before {
          content: '';
          width: 79px;
          height: 1px;
          background: $orange;
          position: absolute;
          bottom: 0;
          left: calc((100% - 79px) / 2);
        }
        & + p {
          max-width: 750px;
          text-align: center;
          margin: 36px auto 0;
        }
      }
    }
  }
}
