@font-face {
  font-family: 'Myriad Pro';
  src: url('../font/myriadPro/MyriadPro-Light.eot');
  src: url('../font/myriadPro/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/myriadPro/MyriadPro-Light.woff') format('woff'),
  url('../font/myriadPro/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('../font/myriadPro/MyriadPro-Regular.eot');
  src: url('../font/myriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/myriadPro/MyriadPro-Regular.woff') format('woff'),
  url('../font/myriadPro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('../font/myriadPro/MyriadPro-Bold.eot');
  src: url('../font/myriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/myriadPro/MyriadPro-Bold.woff') format('woff'),
  url('../font/myriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro Semibold';
  src: url('../font/myriadPro/MyriadPro-Semibold.eot');
  src: url('../font/myriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../font/myriadPro/MyriadPro-Semibold.woff') format('woff'),
  url('../font/myriadPro/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans/PTSans-Regular.eot');
  src: url('../font/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/PTSans/PTSans-Regular.woff') format('woff'),
  url('../font/PTSans/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}